body{
	background: #fff;
}
#container1 h1{

 color: #4c4f53;
 font-size: 24px;
}

#status_view_wrapper{
	    border: 1px solid #ddd;
}
#date_wrapper{
	display: inline-block;
}
#project_wrapper{
	display:inline-block;
}
#activity_wrapper{
	display: inline-block;
}
#time_wrapper{
	display: inline-block;
}
 #status_view_wrapper select{
 	border:none;
 	color: #404040;
 	background-color: #fff;
 	border: 1px solid #BDBDBD;
 }
 #detail_wrapper textarea{
width:560px;
height:100px;
 }